html{
	height:100%;
}

body {
    font-family:"微软雅黑";
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	overflow:hidden;
	background-image:url(../img/brickwall.png);
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

li{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

input[type="checkbox"]{
	margin:0px;
}

::-webkit-scrollbar{
	height:8px;
	width:8px;
	background:rgba(222,222,222,0.5);
	border-radius:5px;
}

::-webkit-scrollbar-button{
	display:none;
}

::-webkit-scrollbar-track{
	background-color:#f3f3f3;
}

::-webkit-scrollbar-track-piece{
	background:#f3f3f3;
}

::-webkit-scrollbar-thumb{
	width:8px;
	min-height:15px;
	background:rgba(80,182,212,1);
	border-radius:5px;
}

::-webkit-scrollbar-thumb:hover{
	background:rgb(54,154,187);
}

::-webkit-scrollbar-thumb:active{
	border:1px solid rgba(80,200,255,1);
}

.hidden{
	display:none;
}

.a-link{
	cursor:pointer;
}

.a-brand{
	width:200px;
}

.div-container{
	margin-left:50px;
}

.img-header-log{
	height:17px;
	margin:0px;
}

.span-logo{
}

#temp{
	position:absolute;
	z-index:999;
	top:40px;
	left:0px;
}

.temp-div{
	width:10px;
	height:10px;
	float:left;
}

.jumbotron{
	height:80px;
	width:940px;
	margin:0 auto;
	color: #fff;
	text-align: center;
	border-bottom:1px solid rgb(220,220,220);
	border-radius:4px 4px 0 0;
	background-color:white;
}

.div-jumbotron-path{
	height:80px;
	width:480px;
	float:left;
}

.ul-jumbotron-path{
	background:transparent;
	height:80px;
	margin-bottom:0px;
	padding-left:10px;
	width:510px;
}

.li-jumbotron-path{
	text-shadow:none;
	float:left;
	height:80px;
	line-height:80px;
}

.li-my-disk{
	float:left;
	font-size:30px;
	line-height:66px;
}

.div-jumbotron-toolbar{
	float:right;
	margin-top:25px;
	margin-right:10px;
}

.navbar-used-space{
	height:40px;
	float:right;
}

.navbar-used-space-progress{
	margin-top:8px;
	margin-bottom:0px;
	width:250px;
	height:10px;
}

.navbar-used-space-text{
	color:white;
	line-height:22px;
	font-size:10px;
	text-align:center;
}

.navbar-user-info{
	width:240px;
	height:40px;
	overflow:hidden;
	float:right;
	margin-right:-120px;
}

.navbar-user-name{
	float:left;
	color:white;
	width:120px;
	line-height:40px;
	text-align:center;
	cursor:pointer;
}

.logout{
	float:left;
	width:120px;
}

.btn-logout{
	margin-left:33px;
}

.div-file-title{
	width:940px;
	height:40px;
	line-height:40px;
	text-align:center;
	border-bottom:1px dashed rgb(220,220,220);
	background-color:white;
}

.ul-file{
	background-color:white;
	width:940px;
	font-size:12px;
	overflow-y:auto;
	overflow-x:hidden;
}

.ul-file li{
	height:60px;
	line-height:60px;
	width:940px;
}

.li-background-blue{
	background-color:rgb(237,247,255);
}

.div-file{
	margin-top:60px;
	box-shadow:0 0 6px rgba(0,0,0,.6);
	border-radius:6px;
	border:1px solid rgb(150,150,150);
}

.div-file-checkbox{
	float:left;
	width:20px;
	margin-left:10px;
	height:60px;
}

.div-file-icon{
	float:left;
	width:70px;
	height:60px;
}

.img-file-icon{
	height:50px;
	margin-left:10px;
	cursor:pointer;
}

.div-file-name-action{
	float:left;
	width:580px;
	padding-left:10px;
}

.div-file-name{
	height:40px;
	width:580px;
	line-height:40px;
}

.span-file-name{
	cursor:pointer;
	margin-left:0px;
}

.div-file-action{
	width:580px;
	height:20px;
}

.div-file-size{
	float:left;
	width:100px;
	height:60px;
	text-align:center;
}

.div-file-time{
	float:left;
	width:150px;
	text-align:center;
}

.div-title-file-checkbox{
	float:left;
	width:20px;
	margin-left:10px;
	text-align:left;
}

.div-title-file-icon{
	float:left;
	width:70px;
	height:40px;
}

.div-title-file-name-action{
	float:left;
	width:580px;
	padding-left:10px;
	font-weight:bold;
	cursor:pointer;
}


.div-title-file-size{
	float:left;
	width:100px;
	height:40px;
	font-weight:bold;
	cursor:pointer;
}

.div-title-file-time{
	float:left;
	width:150px;
	font-weight:bold;
	cursor:pointer;
}

.btn-file-action{
	float:left;
	margin-right:5px;
	margin-top:-10px;
}

.folder-tree-for-copy-file{
	margin:0 auto;
	min-height:200px;
	text-align:center;
	padding-left:20px;
	padding-top:20px;
	border:1px solid rgb(167, 197, 226);
	height:330px;
	overflow:auto;
}

.file-tree-content{
	width:auto;
	overflow:visible;
}

.div-folder-tree-name{
	width:auto;
	height:30px;
}

.span-folder-tree-name{
	display:inline-block;
	float:left;
	cursor:pointer;
	margin-left:0px;
	color:rgb(51,51,51);
	border-radius:4px;
}

.img-file-tree-icon{
	width:15px;
	margin-top:-3px;
	margin-left:3px;
}

.folder-tree-unfold{
	cursor:pointer;
	color:rgb(180,180,180);
	font-size:14px;
	display:inline-block;
	width:15px;
	float:left;
}

.modal-body-border{

}

.large-success{
	font-size:40px;
	color:rgb(91, 183, 91);
	line-height:10px;
	margin:10px 5px;
	float:left;
}

.large-error{
	font-size:40px;
	color:rgb(189, 54, 47);
	line-height:10px;
	margin:10px 5px;
	float:left;
}

.create-folder-input{
	margin-top:10px;
	width:400px;
}

.create-folder-confirm{
	margin-bottom:0px;
	margin-left:40px;
}

.create-folder-cancle{
	margin-bottom:0px;
	margin-left:10px;
}

.batch-menu{
	width:83px;
	min-width:83px;
	margin-left:96px;
}

.back-btn{
	font-family:'黑体';
	font-weight:bold;
}

.sort-arrow-down{
	width:0px;
	height:0px;
	margin-left:5px;
	display:inline-block;
	border:4px solid rgb(255,255,255);
	border-top:4px solid rgb(200,200,200);
	vertical-align:middle;
	margin-top:3px;
}

.sort-arrow-up{
	border:4px solid rgb(255,255,255);
	border-bottom:4px solid rgb(200,200,200);
	margin-top:-7px;
}

.div-file-bottom{
	width:100%;
	height:29px;
	border-top:1px solid rgb(220,220,220);
	background-color:rgb(240,240,240);
	border-radius:0 0 4px 4px;
	text-align:center;
	line-height:30px;
	color:rgb(120,120,120);
	font-size:12px;
}

.loading{
	position:absolute;
	width:110px;
	height:100px;
	border-radius:20px;
	background-color:rgb(100,100,100);
	background-color:rgba(0,0,0,.5);
	top:300px;
	z-index:9999;
}

.loading img{
	width:110px;
	height:10px;
	margin-top:30px;
}

.loading span{
	display:block;
	color:white;
	margin-top:10px;
	text-align:center;
}

.upload-loading{
	float:right;
}